$gray-800: #121214;
$gray-700: #202024;
$gray-600: #323238;
$gray-500: #7c7c8a;
$gray-400: #8d8d99;
$gray-300: #c4c4cc;
$gray-200: #e1e1e6;
$gray-100: #f0f2f5;

$green-500: #00875f;
$green-400: #00b37e;

$red-400: #f75a68;
