@import "./colors.scss";

:focus {
	outline: 2px solid $green-500;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	-webkit-font-smoothing : antialiased;
}

.app {
	min-height: 100vh;
	width: 100vw;
	margin-inline: auto;

	background: $gray-800;
}

.app__content--wrapper {
	width: 78rem;
	max-width: 100%;
	min-height: calc(100vh - 4.5rem);
}
